@use '../general-styles/padding' as *;
@use '../general-styles/colors' as *;
@use '../general-styles/typography' as *;

.countdown{
    background: $color-theme-1;
    padding-bottom: 0;

    &__content{
        background-image: url('../images/countdown/bg.png');
        background-color: $color-theme-3;
        border: 1rem solid rgba($color-theme-1, 0.3);

        transform: translateY(-50%);

        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;

        position: relative;

        &::before,
        &::after{
            content: '';
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;
            background-size: cover;
        }

        &::before{
            left: 0;
            background: url('../images/countdown/left-shape.png');
        }
        &::after{
            right: 0;
            background: url('../images/countdown/right-shape.png');
        }

        &--day,
        &--hour,
        &--minute,
        &--second{
            display: flex;
            align-items: center;
            gap: 2rem;
            z-index: 1;

            div{
                display: flex;
                flex-direction: column;
                align-items: center;

                p:first-child{
                    font-size: $font-size-d-m;
                    color: $color-type-1;
                    font-weight: $font-weight-bold;
                }

                p:last-child{
                    font-size: $font-size-d-s;
                    color: $color-type-1;
                    font-weight: $font-weight-regular;
                }
            }
            p{
                font-size: $font-size-d-m;
                color: $color-type-1;
                font-weight: $font-weight-bold;
            }
        }
}
}