@use '../general-styles/padding' as *;
@use '../general-styles/colors' as *;
@use '../general-styles/typography' as *;

.about{
    display: flex;
    align-items: center;
    gap: 3rem;

    background-image: url('../images/about/about-bg.png');
    background-color: $color-type-2;
    background-repeat: no-repeat;
    background-size:cover;

    &__img{
        flex-basis: 50%;
        height: 100%;
    }

    &__content{
        flex-basis: 50%;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 2rem;
        
        &--mini-title{
            color: $color-type-1;

            &::before,
            &::after{
                display: none;
            }

        }

        &--title,
        &--date{
            color: $color-type-1;
        }
        &--para{
            color: rgba($color-type-6,0.7);
            text-align: left;

            span{
                margin-top: 1.5rem;
                font-weight: $font-weight-bold;
                text-decoration: underline;
            }
        }

        &--date{
            font-size: $font-size-st-m;
            font-weight: $font-weight-bold;

            span{
                display: inline-block;
                padding: $padding-st-v-m;
                margin-right: 1rem;
                background-color: $color-theme-2;
                border-radius: 50%;
            }
        }

    }
}