@use '../general-styles/padding' as *;
@use '../general-styles/colors' as *;
@use '../general-styles/typography' as *;
@use '../general-styles/gradients' as *;

@media screen and (max-width: 800px){
    // Events
    .events{

        &__timing{

            &--event{
                grid-template-rows: repeat(3,min-content);

                &__date-time,
                &__desc,
                &__link{
                    justify-self: center;
                }

                &__link{
                    grid-row: 3/4;
                }
            }
        }
        
    }

    // Footer
    .footer{
        

        & > div{
            flex-basis: 25%;
        }
    }

    // Blog Page
    .blog-page{
        flex-direction: column-reverse;

        .blogs__popular-feeds{
            row-gap: 0;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;

            &--search{
                padding: $padding-st-v-s $padding-st-h-xs;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;

                fieldset{
                    padding: 0;

                    i{
                        display: none;
                    }
                }
            }

            &--content{
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
        }
    }

    // Contact
    .contact{
        flex-wrap: wrap;

        &__content,
        &__form{
            flex-basis: 100%;
        }
    }

}