
// Color Theme
$color-theme-1:hsl(216 33% 97%);
$color-theme-2:hsl(327 97% 48%);
$color-theme-3:hsl(253 82% 42%);
$color-theme-4:rgb(255, 253, 253);

// Color Type
$color-type-1: hsl(0, 0%, 100%);
$color-type-2: hsl(238, 50%, 13%);
$color-type-3: hsl(327, 97%, 48%);
$color-type-4: hsl(253, 82%, 42%);
$color-type-5: hsl(0, 0%, 45%);
$color-type-6: hsl(0, 0%, 96%);

// Color Lonk
$color-link-1: hsl(0,0%,100%);
$color-link-2: hsl(327,97%,48%);
$color-link-3: hsl(253,82%,420%);
$color-link-4: hsl(238,50%,13%);

// Color Social
$color-facebook: hsl(221,44%,42%);
$color-twitter: hsl(206,82%,63%);
$color-linkedin: hsl(201,100%,35%);
$color-instagram: hsl(329,100%,50%);
